<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Sport Scraper</title>
</head>

<body>
    <header class="header">
        <h1>News Scraper</h1>
        <p>Choose which news topic you would like to scrape, and just simply push the button!!</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles">Main</a></li>
                <li><a href="/outdoor">Outdoor</a></li>
                <li><a href="/entertainment">Entertainment</a></li>
                <li><button id="delete-unsaved" data-id={this.id}>Delete Unsaved</button></li>
                <li><a href="/saved">Saved Articles</a></li>
            </ul>
        </nav>
    </header>

    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>

</body>

</html>