<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Sport Scraper</title>
</head>

<body>
    <header class="header">
        <h1>Utah News Scraper</h1>
        <p>Scraping three topics of articles that interested me, so scroll through.
            If you see one you like just click on the heading text, and you should be
            able to leave a comment on the article.</p>
    </header>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>

</body>

</html>