<div class="main-container">
        <div class="main-articles">
                <p>This app scrape's Ksl.com, based on the topic that you would like to read articles
                        from. Your choices are News, Outdoor, and Entertainment, once you choose your
                        topic click the link and you will be redirected to that page. Once at the page 
                        you want, just click the scrape articles button. Articles will be displayed on 
                        the screen, click save button if would like to save the article to come back to 
                        later, also you can click the add note button if you would like to leave a comment
                        about the article. Once you decide you want the unsaved articles to go away, just 
                        click the button.

                        Thanks for taking a look!!!
                </p>
        </div>
        <div class="notes"></div>
</div>