<div class="main-container">
        <h2>Articles</h2>
            {{#each article}}
            <div class="articles">
                
                    <h3>{{title}}</h3>
                    <p>{{body}}</p>
                    <a href={{link}} target="_blank">{{link}}</a>
            </div>
            
            {{/each}}
    <div class="notes"></div>
</div>