
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #6B6e70;
}

nav { 
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-bottom: 10px;

}

nav a {
    position: relative;
    margin-top: 15px;
    color: black;
    /* padding: 10px; */
    font-size: 25px;
    text-decoration: none;
}

nav li a:hover:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #a4b3b6;
}

.header {
    width: 100%;
    background-color: #376e6f;
    box-shadow: inset 0px 0px 5px 2px black;
}

.header h1 {
    text-shadow: 2px 2px 5px #a4b3b6;    
    text-align: center;
    font-size: 100px;
}

.header p {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}

.main-articles {
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #a4b3b6;
    padding: 10px;
    border: 2px solid black;
}

.main-articles p {
    font-size: 30px;
    padding: 15px;
    line-height: 2;
    text-shadow: 0px 0px 10px white;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: bolder;
}

.articles {
    margin: 10px 0px 10px 0px;
    padding: 15px;
    box-shadow: inset 0px 0px 2px 2px black;
}

.articles h3 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.articles p {
    font-size: 20px;
    line-height: 1;
    text-align: left;
    margin-bottom: 10px;
}

.articles a {
    font-size: 20px;
}

button {
    margin: 5px;
    width: 175px;
    height: 30px;
    border-radius: 5px;
    background-color: #44318d;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 1px 0px 2px #a4b3b6;
    border: 2px solid black;
}

.articles button {
    margin-top: 20px;
}

#delete-unsaved {
    margin-top: 30px;
}

.modal {
    width: 400px;
    height: 400px;
}
